# Case: Paranapanema Basin

## Imports

In [1]:
from mogestpy.quality import buwo
from mogestpy.quantity.Hydrological import SMAP

In [2]:
import pandas as pd

## Subcatchments setup

In [3]:
df_data = pd.read_excel('case.xlsx')

In [4]:
b86491 = SMAP.SMAP.Basin(AD=df_data['area_km2'][0])
b86492 = SMAP.SMAP.Basin(AD=df_data['area_km2'][1])
b86493 = SMAP.SMAP.Basin(AD=df_data['area_km2'][2])
b86494 = SMAP.SMAP.Basin(AD=df_data['area_km2'][3])
b86495 = SMAP.SMAP.Basin(AD=df_data['area_km2'][4])
b86496 = SMAP.SMAP.Basin(AD=df_data['area_km2'][5])
b86497 = SMAP.SMAP.Basin(AD=df_data['area_km2'][6])
b86498 = SMAP.SMAP.Basin(AD=df_data['area_km2'][7])
b86499 = SMAP.SMAP.Basin(AD=df_data['area_km2'][8])

Support code

In [5]:
import hydrobr

In [6]:
list_stations = hydrobr.get_data.ANA.list_prec_stations()

In [7]:
list_stations

,Name,Code,Type,SubBasin,City,State,Responsible,Latitude,Longitude,StartDate,EndDate,NYD,MD,N_YWOMD,YWMD
0,SALINÓPOLIS,00047000,2,32,SALINÓPOLIS,PARÁ,INMET,-0.6500,-47.5500,1958/01/01,1964/12/31,7,25.0,0,100.0
1,SALINÓPOLIS,00047002,2,32,SALINÓPOLIS,PARÁ,ANA,-0.6231,-47.3536,1977/12/09,2019/08/31,43,3.5,35,18.6
2,CURUÇA,00047003,2,32,CURUÇA,PARÁ,ANA,-0.7375,-47.8536,1981/07/01,2019/07/31,39,2.4,29,25.6
3,PRIMAVERA,00047004,2,32,PRIMAVERA,PARÁ,ANA,-0.9294,-47.0994,1982/02/18,2019/08/31,38,0.0,35,7.9
4,MARUDA,00047005,2,32,MARAPANIM,PARÁ,ANA,-0.6336,-47.6583,1989/08/21,2019/07/31,31,5.0,20,35.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11971,NOVA ESPERANÇA/MARCO BV-8,08461000,2,14,PACARAIMA,RORAIMA,ANA,4.4883,-61.1297,1984/03/23,2019/06/30,36,12.3,13,63.9
11972,MISSÃO AUARIS - JUSANTE,08464001,2,14,BOA VISTA,RORAIMA,ANA,4.0031,-64.4431,1995/04/01,2019/06/30,25,4.2,15,40.0
11973,WILLIAM KRAANPLEIN,08555060,2,90,SURINAME,SURINAME,SURINAME,5.8000,-55.1667,1935/08/01,1948/12/31,14,9.2,7,50.0
11974,ZANDERIJ,08555096,2,90,SURINAME,SURINAME,SURINAME,5.4700,-55.2000,2009/01/31,2010/01/31,2,96.7,0,100.0
11975,FAZENDA BANDEIRA BRANCA,08560000,2,14,UIRAMUTA,RORAIMA,ANA,4.6306,-60.4706,1976/01/01,1996/02/29,21,5.6,12,42.9

In [16]:
mask = list_stations['Code'].isin(['02347049',
'02347050',
'02347147',
'02347148',
'02347149',
'02347151',
'02347192',
'02347204',
'02348013',
'02348014',
'02348015',
'02348016',
'02348017',
'02348019',
'02348020',
'02348022',
'02348023',
'02348024',
'02348025',
'02348026',
'02348027',
'02348028',
'02348029',
'02348030',
'02348031',
'02348033',
'02348034',
'02348037',
'02348041',
'02348043',
'02348063',
'02348072',
'02348074',
'02348075',
'02348076',
'02348077',
'02348080',
'02348086',
'02348088',
'02348090',
'02348092',
'02348100',
'02348101',
'02348102',
'02348103',
'02348104',
'02348105',
'02348106',
'02349003',
'02349007',
'02349010',
'02349011',
'02349012',
'02349013',
'02349014',
'02349015',
'02349016',
'02349017',
'02349018',
'02349019',
'02349020',
'02349022',
'02349024',
'02349025',
'02349026',
'02349027',
'02349041',
'02349052',
'02349054',
'02349055',
'02349067',
'02349068',
'02349074',
'02349076',
'02349077',
'02349078',
'02349080',
'02349082',
'02447001',
'02447007',
'02448002',
'02448003',
'02448004',
'02448005',
'02448006',
'02448007',
'02448009',
'02448011',
'02448053',
'02448058',
'02448065',
'02448066',
'02448067',
'02448071',
'02448072',
'02448073',
'02448076',
'02448078',
'02448079',
'02448080',
'02448081',
'02448082',
'02448096',
'02449001',
'02449002',
'02449005',
'02449056',
'02449067',
'02449072',
'02449087'])

In [17]:
list_stations[mask]

,Name,Code,Type,SubBasin,City,State,Responsible,Latitude,Longitude,StartDate,EndDate,NYD,MD,N_YWOMD,YWMD
9562,USINA BATISTA,02347049,2,64,PILAR DO SUL,SÃO PAULO,DAEE-SP,-23.8333,-47.6500,1937/01/01,2014/11/30,78,11.1,66,15.4
9563,SÃO MIGUEL ARCANJO,02347050,2,64,SÃO MIGUEL ARCANJO,SÃO PAULO,DAEE-SP,-23.8667,-47.9997,1936/11/13,2014/12/31,79,1.9,62,21.5
9640,BAIRRO RIBEIRÃO BONITO,02347147,2,64,PIEDADE,SÃO PAULO,DAEE-SP,-23.8500,-47.4500,1972/08/01,2001/03/15,30,0.0,27,10.0
9641,FAZENDA MOQUEM,02347148,2,64,PILAR DO SUL,SÃO PAULO,DAEE-SP,-23.9333,-47.7167,1972/09/01,2001/01/31,30,1.2,26,13.3
9642,SANTA CRUZ DOS MOTAS,02347149,2,64,SÃO MIGUEL ARCANJO,SÃO PAULO,DAEE-SP,-23.7333,-47.9333,1972/08/01,2014/11/30,43,0.2,39,9.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10170,ENGENHEIRO MAIA,02449001,2,64,ITABERÁ,SÃO PAULO,DAEE-SP,-24.0500,-49.1000,1939/10/01,2014/11/30,76,5.8,47,38.2
10171,ITARARÉ,02449002,2,64,ITARARÉ,SÃO PAULO,DAEE-SP,-24.1167,-49.3333,1956/03/01,1999/01/31,44,2.2,26,40.9
10174,ITARARÉ (RVPSC),02449005,2,64,ITARARÉ,SÃO PAULO,RFFSA,-24.1000,-49.3333,1938/09/01,1981/12/31,44,4.1,35,20.5
10215,FAZENDA SÃO NICOLAU,02449056,2,64,ITARARÉ,SÃO PAULO,DAEE-SP,-24.2667,-49.1667,1971/04/08,1998/12/31,28,0.5,25,10.7
10222,UHE CHAVANTES BERTANHOLI,02449067,2,64,ITARARÉ,PARANÁ,PARANAPANEMA,-24.0903,-49.3292,2012/01/01,2012/12/31,1,1.4,0,100.0

In [18]:
list_stations[mask].to_csv('estacoes_plu.csv', index=False)